<launch>

<arg name="pasta_tgt" default="SANTOS_DUMONT_2/sala/scan2"/>
<arg name="pasta_src" default="SANTOS_DUMONT_2/sala/scan3"/>

<node name="sfm_horizontal_node" pkg="fog" type="sfm_node" output="screen">
    <param name="pasta_tgt" value="$(arg pasta_tgt)"/>
    <param name="pasta_src" value="$(arg pasta_src)"/>
</node>

</launch>
