<launch>

<arg name="pasta_tgt" default="quintal3"/>
<arg name="pasta_src" default="quintal4"/>

<node name="sfm_horizontal_node" pkg="fog" type="sfm_node" output="screen">
    <param name="pasta_tgt" value="$(arg pasta_tgt)"/>
    <param name="pasta_src" value="$(arg pasta_src)"/>
</node>

</launch>
